language: go

go:
  - "1.16.0"

script: |
  echo "Build strong-duckling" &&
  go build &&
  go test ./...

services:
  - docker

deploy:
  - provider: script
    skip_cleanup: true
    script: curl -sL https://git.io/goreleaser | bash
    on:
      tags: true
      condition: $TRAVIS_OS_NAME = linux
