version: "3.7"
services:
  strongswan1:
    build:
      context: strongswan
      dockerfile: Dockerfile
    privileged: true
    environment:
      STRONGSWAN_VERSION: 5.8.1
      VPN_LOCAL_PEER: strongswan1
      VPN_LOCAL_NETWORK: 10.101.0.1
      VPN_REMOTE_PEER: strongswan2
      VPN_REMOTE_NETWORK: 10.102.0.1
    volumes:
      - type: bind
        source: ./strong-duckling-linux
        target: /strong-duckling
      - type: bind
        source: ./examples/${EXAMPLE}/left/
        target: /config
  strongswan2:
    build:
      context: strongswan
      dockerfile: Dockerfile
    privileged: true
    environment:
      STRONGSWAN_VERSION: 5.8.1
      VPN_LOCAL_PEER: strongswan2
      VPN_LOCAL_NETWORK: 10.102.0.1
      VPN_REMOTE_PEER: strongswan1
      VPN_REMOTE_NETWORK: 10.101.0.1
    volumes:
      - type: bind
        source: ./strong-duckling-linux
        target: /strong-duckling
      - type: bind
        source: ./examples/${EXAMPLE}/right
        target: /config

  prometheus:
    image: prom/prometheus:v2.47.1
    volumes:
      - type: bind
        source: ./prometheus.yml
        target: /prometheus.yml
    command:
      - "--config.file=/prometheus.yml"
    ports:
      - 9090:9090
    links:
      - strongswan1:strongswan1
      - strongswan2:strongswan2
    restart: always
